.vs/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

#Debug/debug.log.
*. OpenSimpleWebPage/bin/Debug/debug.log
*.YahooFinance/YahooFinance/bin/Debug/debug.log.
